.game-list {
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: center;
}

.create-game-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
}

.game-rules-form {
    display: flex;
    flex-direction: column;
}

.create-game-button {
    width: 250px;
}

.show-games-list {
    width: 100%;
}

.show-games-list-item {
    background: rgb(234, 238, 243);
}

.create-game-dialog-title {
    display: flex;
    justify-content: center;
}

.create-game-description {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.game-name-textfield {
    margin-bottom: 15px !important;
}

.game-rule-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.game-rule-description {
    padding-right: 10px;
}
